{% extends 'AppBundle:admin:layout.html.twig' %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <!--<div id="table2_wrapper" class="dataTables_wrapper no-footer">
      <div class="dataTables_length" id="table2_length"></div>
      <div id="table2_filter" class="dataTables_filter"><a href="{{ url('admin_export') }}" class="label label-danger">导出中奖信息</a><label>Search:<input type="search" class="" placeholder="" aria-controls="table2"></label>--></div>
      <table id="table2" class="table table-striped dataTable no-footer" role="grid" aria-describedby="table2_info">
      <thead>
       <tr role="row">
        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1" style="width: 40px;">ID</th>
        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">姓名</th>
        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">邮编</th>
        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">地址</th>
        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">城市</th>
        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">Email</th>
        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">手机</th>
        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">性别</th>
        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">创建时间</th>
        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">创建IP</th>
      </tr>
     </thead>
     <tbody>
     {% for p in pagination %}
      <tr class="gradeA {% if loop.index is odd %} odd{% else %} even{% endif %}" role="row">
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.zipcode }}</td>
        <td>{{ p.address }}</td>
        <td>{{ p.city }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.mobile }}</td>
        <td>{{ p.gender }}</td>
          <td>{{ p.createTime | date("Y-m-d H:i:s") }}</td>
          <td>{{ p.createIp }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
<div class="dataTables_info" id="table2_info" role="status" aria-live="polite">共{{ pagination.getTotalItemCount }}条记录</div>
<div class="dataTables_paginate paging_full_numbers" id="table2_paginate">
{{ knp_pagination_render(pagination) }}
</div>
</div>
</div><!-- table-responsive -->

</div><!-- panel-body -->
</div>
{% endblock %}
{% block title %}表单信息{% endblock %}
{% block javascripts %}
{{ parent() }}

{% endblock %}
